[run]
source = personroles
omit = tests/*

[paths]
source = personroles/

[report]
omit =
    *site-packages*
    *tests*
    *.tox*
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
show_missing = True

[tool:pytest]
addopts = --cov=personroles --cov-append --cov-report=term-missing
